@import url(master.css);

.card .card-header{
    position: relative;
}
.card .card-header .date{
    opacity: 0.5;
    font-size: 0.8rem;
    position: absolute;
    right: 5px;
    top: 5px;
}
.card .cards-body .box {
  width: 100%;
  display: flex;
  padding-block: 20px;
}

.card .cards-body .box:nth-child(1) img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}
.card .cards-body .box:nth-child(1) a:not(:first-child) {
  margin-left: -15px;
}
.card .cards-body .box:nth-child(1) a:hover {
  z-index: 1;
}

.card .cards-body .box:nth-child(2) {
  border-block: 1px solid white;
  gap: 10px;
  justify-content: end;
}
.card .cards-body {
  border: none;
  gap: 0px;
  padding-block: 0px;
}

.card .cards-body .box:nth-child(2) p {
  padding: 5px;
  background-color: var(--light-black);
  font-size: 0.8rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.card .card-footer {
  padding: 20px;
  justify-content: space-between;
  display: flex;
}

.card .card-footer .progras {
  height: 5px;
  width: 40%;
  background-color: var(--light-black);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  position: relative;
}
.card .card-footer .progras::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 80%;
  background-color: var(--Vivid-Vermilion);
  left:0px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.card .card-footer .cost{
    opacity: 0.5;
}